body{
    
    font-size: 14px;
    background-color:hsl(218, 28%, 13%); 
}

h1,h2,h3,h4,h5,h6{
   font-family: 'Raleway', sans-serif; 
}

.container{
    font-family: 'Open Sans', sans-serif;

}
.nav{
	background-color:hsl(217, 28%, 15%);
}

.section-1 ,.section-2{
background-color: hsl(218, 28%, 13%);
padding: 80px 0px;
color: white;
}
.section-2 p{
    font-size: 18px;
}

.button{
    background-color: hsl(176, 68%, 64%);
}
.section-3{
    padding: 80px 0px;
    padding-top: 140px;
}

.section-3,.section-1{
    font-size: 20px;
}
.start{
    width: 201px;
    background-color: hsl(198, 60%, 50%);
}
.team-section{

padding: 50px 0px;
color: white; 

}
.team-1,.team-2,.team-3{
 background-color: hsl(219, 30%, 18%);
padding: 1rem;
}

.team-1,.team-2,.team-3{
    border-radius: 10px;
}

.team{
    border-radius: 50%;
}
.mail-section{
background-color: hsl(217, 28%, 15%);
padding: 50px;
color: white;
width: 20px;

}

#exampleInputEmail1{
    width: 500px;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    border: 1px white;
    border-radius: 20px;
}
.btn{
    border: 2px white;
    border-radius: 80px;
    background-color: hsl(198, 60%, 50%);
}

.footer-section{
background-color: hsl(216, 53%, 9%);
padding: 50px 0px;
color: white; 
}
@media only screen and (max-width: 600px){
    .container{
        font-size: 14px;
    }
    #exampleInputEmail1{
        width:100%;
        padding: 0;
    }
    .btn{
        width: 100%;
    }
}